{% extends 'layout.html.twig' %}

{% block title %}Liste des administrateur{% endblock %}

{% block body %}

    {% if msg is defined %}
        <p>{{ msg }}<p>
    {% else %}

    <p class="text-center">
        <a href="/admin" class="btn btn-success">Nouvel administrateur</a>
    </p>

    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for admin in admins %}
                <tr>
                    <th scope="row">{{ admin.id }}</th>
                    <td>{{ admin.firstName }}</td>
                    <td>{{ admin.lastName }}</td>
                    <td>
                        <a href="/admin/{{ admin.id }}">modifier</a> -
                        <a href="#" data-id="{{ admin.id }}" class="delete-admin">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        Aller à la page : 
        
        {% for i in 1..numberPages%}
            <a href="/quizzes?page={{ i }}">{{ i }}</a>
        {%endfor%}
    </div>

    {% endif %}  

{% endblock %}

{% block js %}
    <script src="/js/handleDelete.js"></script>
    <script>
        Delete(".delete-admin", "admin");
    </script>
{% endblock %}
