{% extends 'layout.html.twig' %}

{% block title %}
    {% if admin is not null %}
        Modification de "{{ admin.firstName ~ ' ' ~ admin.lastName }}"
    {% else %}
        Création d'un admin
    {% endif %}

{% endblock %}

{% block body %}


    {% if msg is defined %}
        <p>{{ msg }}<p>

    {% else %}

        <div class="container">

        {% if admin is not null %}
            <p class="text-center">
                <a href="/delete-admin/{{ admin.id }}" class="btn btn-danger">Supprimer</a>
            </p>
        {% endif %}

        {% set formUrl="/admin" %}

        {% if admin is not null %}
            {% set formUrl="/admin/" ~ admin.id %}
        {% endif %}

        <form action="{{ formUrl }}" method="post">
            <div class="form-group">
                <label for="lastName">Nom</label>
                <input type="text" class="form-control" id="lastName" name="lastName" value="{% if admin is not null %}{{ admin.lastName }}{% endif %}">
                <label for="firstName">Prénom</label>
                <input type="text" class="form-control" id="firstName" name="firstName" value="{% if admin is not null %}{{ admin.firstName }}{% endif %}">
                <label for="email">Adresse mail</label>
                <input type="text" class="form-control" id="email" name="email" value="{% if admin is not null %}{{ admin.email }}{% endif %}">
                <label for="password">Mot de passe</label>
                <input type="text" class="form-control" id="password" name="password">
                <label for="passwordConf">Confirmation de mot de passe</label>
                <input type="text" class="form-control" id="passwordConf" name="passwordConf">
            </div>

            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>

    {% endif %}

    
{% endblock %}
