{% extends 'layout.html.twig' %}

{% block title %}Liste des thèmes{% endblock %}

{% block body %}

    {% if msg is defined %}
        <p>{{ msg }}<p>

    {% else %}

    <p class="text-center">
        <a href="/question" class="btn btn-success">Nouvelle question</a>
    </p>

    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Label</th>
                <th scope="col">Theme</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% set foo = 0 %}
            {% for question in questions %}
                <tr>
                    <th scope="row">{{ question.id }}</th>
                    <td>{{ question.label }}</td>
                    <td>{{ themes[foo].name }}</td>
                    <td>
                        <a href="/question/{{ question.id }}">modifier</a> -
                        <a href="#" data-id="{{ question.id }}" class="delete-question">supprimer</a>
                    </td>
                </tr>
                {% set foo = foo + 1 %}
            {% endfor %}
            </tbody>
        </table>

        Aller à la page : 
        
        {% for i in 1..numberPages%}
            <a href="/questions?page={{ i }}">{{ i }}</a>
        {%endfor%}
    </div>

    {% endif %}  

{% endblock %}

{% block js %}
    <script src="/js/handleDelete.js"></script>
    <script>Delete(".delete-question", "question");</script>
{% endblock %}
