{% extends 'layout.html.twig' %}

{% block title %}
    {% if question is not null %}
        Modification de la question "{{ question.label}}"
    {% else %}
        Création d'une question
    {% endif %}

{% endblock %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}


    {% if msg is defined %}
        <p>{{ msg }}<p>
    {% else %}

        <div class="container">

        {% if question is not null %}
            <p class="text-center">
                <a href="/delete-question/{{ question.id }}" class="btn btn-danger">Supprimer</a>
            </p>
        {% endif %}

        {% set formUrl="/question" %}

        {% if question is not null %}
            {% set formUrl="/question/" ~ question.id %}
        {% endif %}

        <form action="{{ formUrl }}" method="post">
            <div class="form-group">
                <label for="label">Label</label>
                <input type="text" class="form-control" id="label" name="label" value="{% if question is not null %}{{ question.label }}{% endif %}">

                <label for="theme">Theme</label>
                <select class="form-control" id="theme" name="theme">
                    {% for theme in themes %} 
                    {# Sert à sélectionner par défaut le thème qui correspond à la question #}
                        {% if theme.id == correspondingTheme.id %}
                            <option selected value="{{theme.id}}">{{theme.name}}</option> 
                        {% else %}
                            <option value="{{theme.id}}">{{theme.name}}</option>
                        {% endif %}        
                    {% endfor %}       
                </select>

                {% if possibleanswers is not null %}
                    {% for possibleanswer in possibleanswers %}
                        <label for="answer{{loop.index}}">Réponse {{loop.index}}</label>
                        <input type="text" class="form-control" id="answer{{loop.index}}" name="answer{{loop.index}}" value="{{possibleanswer.label}}">
                        <select class="form-control" id="correct{{loop.index}}" name="correct{{loop.index}}"  >
                        {% if possibleanswer.correct == "1" %}
                                <option value="1" selected>Correcte</option>
                                <option value="0">Incorrecte</option>
                        {% else %}
                                <option value="1">Correcte</option>
                                <option value="0" selected>Incorrecte</option>
                        {% endif %}
                        <select>
                    {% endfor %}

                {% else %}
                {% for i in range(1, 4) %}
                   <label for="answer{{loop.index}}">Réponse {{loop.index}}</label>
                        <input type="text" class="form-control" id="answer{{ loop.index }}" name="answer{{ loop.index }}">
                        <select id="correct{{loop.index}}" name="correct{{loop.index}}" class="form-control" >
                            <option value="1">Correcte</option>
                            <option value="0" selected>Incorrecte</option>
                        <select>
                {% endfor %}
                    
                {% endif %}


                
            </div>

            <button type="submit" class="btn btn-primary">Valider</button>
        </form>
    </div>

    {% endif %}

    {% if info is defined %}
        <p>{{ info }}<p>
    {% endif %}
    
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="/js/select2use.js"></script>
{% endblock %}



