{% extends 'layout.html.twig' %}

{% block title %}Liste Quizz{% endblock %}

{% block body %}



    {% if msg is defined %}
        <p>{{ msg }}<p>

    {% else %}
    

    <p class="text-center">Liste Quizzes</p>

    {% set formUrl="/quizzes" %}

        <form action="{{ formUrl }}" method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Recherche" name="search" id="search">
            </div>

            <button type="submit" class="btn btn-primary">GO</button>   
        </form>


    <div class="container">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Mode</th>
                <th scope="col">Questions</th>
                <th scope="col">users</th>
                <th scope="col">winner</th>
            </tr>
            </thead>
            <tbody>
            {% for quizz in quizzes %}
                    <tr>
                        <th scope="row">{{ quizz.id }}</th>
                        <td>{{ quizz.mode }}</td>
                        <td>{{ quizz.questions }}</td>
                        <td>
                        {% for us in uData %}
                            {{ us.lastName }} {{ us.firstName }} <br>
                        {% endfor %}
                        </td>
                        <td>{{ wData.lastName }} {{ wData.firstName }}</td>
                    </tr>
            {% endfor %}
            
            </tbody>
        </table>

        Aller à la page : 
        
        {% for i in 1..numberPages%}
            <a href="/quizzes?page={{ i }}">{{ i }}</a>
        {%endfor%}


    </div>

    {% endif %}  

    

{% endblock %}
